<html>
    <head>
        
        <style>
        body{
            background-color:red;
            border:40px solid black;
            text-align:center;
        }
            h1{
            color: purple;
           
            
            }
            p1{
            color: blue;
            
            
            }
            p2{
                color: purple;
                
                
                }
                p3{
                    color: purple;
                    
                    
                    }
            
            </style>
    </head>
</html>